# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 - Popular Languages in Data Science
 - Commonly used Languages by Data Scientist
 - Table creation
 - Evaluating arithmatic expression

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Matplotlib
4. Pandas
5. TensorFlow


|Data Science Tools|
|-------|
|Python|
|R|
|SQL|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Md. Atiqur Rahman